# Import Modules

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import os

In [2]:
os.makedirs('data', exist_ok=True)

# Scraping

In [3]:
BASE_URL = 'https://www.zonareferensi.com/lagu-daerah-indonesia/'

In [4]:
res = requests.get(BASE_URL)
soup = BeautifulSoup(res.text, 'html.parser')

table = soup.find_all('table')[0]
rows = table.find_all('tr')

data = []

for i, row in enumerate(rows):
    if i == 0:
        continue
    cols = row.find_all('td')
    
    cols = [ele.text.strip() for ele in cols]
    data.append([ele for ele in cols if ele])

df = pd.DataFrame(data)
df.columns = ['no', 'nama_lagu', 'asal']

df.to_csv('data/lagu_daerah.csv', index=False)

# Cleaning Data

In [5]:
df = pd.read_csv('data/lagu_daerah.csv')
df.sample(5)

      no       nama_lagu                asal
348  349      Ma Rencong    Sulawesi Selatan
164  165           Salo’    Kalimantan Barat
336  337        Tambelan                Riau
254  255     Mande-mande              Maluku
192  193  Batawak Pantun  Kalimantan Selatan

In [6]:
df[df.duplicated(subset='nama_lagu', keep=False)].sort_values('nama_lagu')

      no          nama_lagu                 asal
287  288           Bolelebo  Nusa Tenggara Timur
276  277           Bolelebo  Nusa Tenggara Timur
19    20      Dayung Sampan               Banten
52    53      Dayung Sampan              Jakarta
143  144        Gai Bintang    Jawa Timur Madura
117  118        Gai Bintang           Jawa Timur
104  105        Gek Kepriye          Jawa Tengah
97    98        Gek Kepriye          Jawa Tengah
100  101            Jamuran          Jawa Tengah
107  108            Jamuran          Jawa Tengah
101  102            Jaranan          Jawa Tengah
106  107            Jaranan          Jawa Tengah
113  114    Kembang Malathe           Jawa Timur
118  119    Kembang Malathe           Jawa Timur
372  373     Kutang Barendo       Sumatera Barat
331  332     Kutang Barendo                 Riau
207  208     Lancang Kuning   Kalimantan Selatan
321  322     Lancang Kuning                 Riau
278  279       Lerang Wutun  Nusa Tenggara Timur
286  287       Lerang Wutun  Nusa Tenggara Timur
269  270              Moree  Nusa Tenggara Barat
289  290              Moree  Nusa Tenggara Timur
33    34        Sungai Suci             Bengkulu
23    24        Sungai Suci             Bengkulu
116  117      Tanduk Majeng           Jawa Timur
144  145      Tanduk Majeng    Jawa Timur Madura
41    42  Yamko Rambe Yamko           Irian Jaya
320  321  Yamko Rambe Yamko                Papua

In [7]:
df_clean = df.drop_duplicates(subset='nama_lagu', keep='first')

In [8]:
print(f'Before drop duplicated data: {len(df)}')
print(f'After drop duplicated data: {len(df_clean)}')

Before drop duplicated data: 418
After drop duplicated data: 404

In [9]:
# save to csv
df_clean.to_csv('data/lagu_daerah.csv', index=False)

# Scraping Lagu Daerah Alternatif

In [10]:
BASE_URL = 'https://dianisa.com/lagu-daerah-indonesia-beserta-lirik-dan-asalnya/'

In [11]:
res = requests.get(BASE_URL)

soup = BeautifulSoup(res.text, 'html.parser')

# find table with class has-fixed-layout
table = soup.find_all('table', class_='has-fixed-layout')[0]

rows = table.find_all('tr')

data = []

for i, row in enumerate(rows):
    if i == 0:
        continue
    cols = row.find_all('td')
    
    cols = [ele.text.strip() for ele in cols]
    data.append([ele for ele in cols if ele])
    
df = pd.DataFrame(data)
df.columns = ['nama_lagu', 'asal']

In [12]:
df.head()

           nama_lagu         asal
0  Yamko Rambe Yamko        Papua
1       Rasa Sayange       Maluku
2       Manuk Dadali   Jawa Barat
3       Gundul Pacul  Jawa Tengah
4        Jali – Jali      Jakarta

In [13]:
df = df.sort_values('asal')

df.head()

             nama_lagu  asal
21      Bungong Jeumpa  Aceh
22   Mecepat – Cepetan  Bali
19           Sarinande  Bali
104              Putri  Bali
68           Ratu Anom  Bali

In [14]:
df.to_csv('data/lagu_daerah_alternatif.csv', index=False)