# Import Modules

In [48]:
from bs4 import BeautifulSoup
import requests
import csv
import pandas as pd

BASE_URL = 'https://www.zonareferensi.com/lagu-daerah-indonesia/'

# Scraping

In [ ]:
res = requests.get(BASE_URL)
soup = BeautifulSoup(res.text, 'html.parser')

table = soup.find_all('table')[0]
rows = table.find_all('tr')

data = []

for row in rows:
    cols = row.find_all('td')
    
    cols = [ele.text.strip() for ele in cols]
    data.append([ele for ele in cols if ele])

df = pd.DataFrame(data)
df.columns = data[0]
df = df[1:]

df.to_csv('data/lagu_daerah.csv', index=False)

# Cleaning Data

In [50]:
df = pd.read_csv('data/lagu_daerah.csv')
df.sample(5)

      No       Nama Lagu     Asal Daerah
40    41  Tahuli Li Mama       Gorontalo
380  381     Tari Payung  Sumatera Barat
139  140   Ba Baba Bulan      Jawa Timur
97    98     Gek Kepriye     Jawa Tengah
374  375       Mak Inang  Sumatera Barat

In [ ]:
df[df.duplicated(subset='Nama Lagu', keep=False)].sort_values('Nama Lagu')

      No          Nama Lagu          Asal Daerah
287  288           Bolelebo  Nusa Tenggara Timur
276  277           Bolelebo  Nusa Tenggara Timur
19    20      Dayung Sampan               Banten
52    53      Dayung Sampan              Jakarta
143  144        Gai Bintang    Jawa Timur Madura
117  118        Gai Bintang           Jawa Timur
104  105        Gek Kepriye          Jawa Tengah
97    98        Gek Kepriye          Jawa Tengah
100  101            Jamuran          Jawa Tengah
107  108            Jamuran          Jawa Tengah
101  102            Jaranan          Jawa Tengah
106  107            Jaranan          Jawa Tengah
113  114    Kembang Malathe           Jawa Timur
118  119    Kembang Malathe           Jawa Timur
372  373     Kutang Barendo       Sumatera Barat
331  332     Kutang Barendo                 Riau
207  208     Lancang Kuning   Kalimantan Selatan
321  322     Lancang Kuning                 Riau
278  279       Lerang Wutun  Nusa Tenggara Timur
286  287       Lerang Wutun  Nusa Tenggara Timur
269  270              Moree  Nusa Tenggara Barat
289  290              Moree  Nusa Tenggara Timur
33    34        Sungai Suci             Bengkulu
23    24        Sungai Suci             Bengkulu
116  117      Tanduk Majeng           Jawa Timur
144  145      Tanduk Majeng    Jawa Timur Madura
41    42  Yamko Rambe Yamko           Irian Jaya
320  321  Yamko Rambe Yamko                Papua

In [ ]:
df_clean = df.drop_duplicates(subset='Nama Lagu', keep='first')

In [ ]:
print(f'Before drop duplicated data: {len(df)}')
print(f'After drop duplicated data: {len(df_clean)}')

Before drop duplicated data: 418
After drop duplicated data: 404

In [55]:
# save to csv
df_clean.to_csv('data/lagu_daerah.csv', index=False)